@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Press+Start+2P&family=Source+Code+Pro:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/fundo.jpg);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 12px;
}

/* breakpoint */

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: underline;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    padding: 10px 20px;
    display: block;
}

.site-subtitulo, .site-titulo {
    color: whitesmoke;
    text-align: center;
}

.site-titulo {
    font-size: 4em;
    font-family: 'Gloria Hallelujah';
}

.site-subtitulo {
    font-style: italic;
    font-family: 'Press Start 2P';
    line-height: 1.8em;
}

.img-portfolio {
    height: 180px;
    width: 180px;
    object-fit: cover;
}

.portfolio {
    padding: 2em;
    height: 100vh;
}

.portfolio h3 {
    font-family: 'Press Start 2P';
    color:  whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
    grid-template-columns: 240px 240px;
}