@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --cor-do-texto: whitesmoke;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/fundo.jpg);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    font-size: 12px;
    color: var(--cor-do-texto);
}

/* breakpoint */

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    color: teal;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9999;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    padding: 10px 20px;
    display: block;
    transition: all 1s;
}

.menu li a:hover,
.menu li a:active {
    background-color: teal;
    color: white;
}

.titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1s ease .3s slide forwards;
}

@keyframes slide {
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.site-subtitulo, 
.site-titulo {
    text-align: center;
}

.site-titulo {
    font-size: 4em;
}

.site-subtitulo {
    font-style: italic;
    line-height: 1.8em;
}

.portfolio,
.contato,
.sobre {
    padding: 2em;
    min-height: 100vh;
}

.portfolio h2,
.contato h2,
.sobre h2 {
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }
}

.sobre p {
    margin-bottom: 1.4em;
    text-align: justify;
}

.sobre .avatar {
    margin-left: 2em;
    clip-path: circle(40%);
}

.sobre .avatar img {
    width: 200px;
}

@media (min-width: 600px) {
    .sobre .avatar {
        float: right;
    }
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: repeat(2, 240px);
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 240px);
    }
}

@media (min-width: 1200px) {
    .portfolio .grid {
        grid-template-columns: repeat(4, 240px);
        justify-content: center;
        align-items: center;
        height: calc(100vh - 8em - 48px);
    }
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: left top;
    transition: transform 0.5s;
}

/* .img-portfolio:hover {
    transform: scale(1.2) rotate(-2deg);
} */

.contato .icones {
    text-align: center;
}

.contato a {
    color: var(--cor-do-texto);
    font-size: 4em;
    transition: text-shadow 0.5s;
}

.contato a:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, .5);
}

.flip-card {
    height: 180px;
    perspective: 1000px;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
    height: 180px;
    width: 100%;
    transform: rotateY(180deg);
}